*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 0 20px;
}

header .logo .shop-logo{
  color: white;
  font-weight: 100;
  font-size: 1.4rem;
}

header .logo .shop-logo span{
  font-weight: 700;
  color: orange;
}

header ul{
  display: flex;
  align-items: center;
}

header ul li{
  list-style-type: none;
  padding: 10px 20px;
}

header ul li img{
  width: 20px;
  margin: 5px;
}

header ul li a{
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 300;
}

header ul li a:hover{
  color: orange;
}

.search-bar{
  display: flex;
  justify-content: space-between;
  padding: 18px 30px;
}

.search-input{
  width: 50%;
}
.search-bar .search-input input{
  width:50%;
  font-size: 1rem;
  padding: 4px;
}
.search-bar .search-input .search{
  background-color: lightgray;
}

.search-bar .search-input .search:hover{
  background-color: black;
  color: lightgray;
}

.btn{
  padding: 4px 14px;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
}

.search-bar .login-signup .signup{
  background-color: orange;
}

.search-bar .login-signup .signup:hover{
  background-color: lightgray;
  color: black;
}

.search-bar .login-signup .login{
  background-color: black;
  color: lightgray;
}

.search-bar .login-signup .login:hover {
  background-color: lightgray;
  color: black;
}

.main-page{
  height: 60vh;
  background-image: url('/images/background/pexels-anastasia-shuraeva-5705481.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.products-container{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(15, auto);
  column-gap: 3px;
  grid-row-gap: 3px;
  padding: 3px;
}

.product-column{
  width: auto;
  height: auto;
}

.products-container img{
  width: 100%;
  height: 230px;
}

.product-column .add-to-cart{
  background-color: orange;
  color: black;
  margin: 8px 0 0 0;
}

.product-column .add-to-cart:hover{
  background-color: black;
  color: lightgray;
}

.product-column h4{
  padding: 10px 0 3px 0;
  font-size: 1.1rem;
  font-weight: 700;
}
.product-column p{
  font-size: 0.8rem;
  text-align: justify;
}

.image-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}


@media only screen and (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(4, auto);
  }
  .products-container img {
  width: 100%;
  height: 220px;
  }
}
  

@media only screen and (min-width: 1100px) {
  .products-container {
    grid-template-columns: repeat(6, auto);
  }
  .products-container img {
  width: 100%;
  height: 230px;
  }
}