*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 0 30px;
}

header .logo .shop-logo{
  color: white;
  font-weight: 100;
}

header .logo .shop-logo span{
  font-weight: 700;
  color: orange;
}

header ul{
  display: flex;
  align-items: center;
}

header ul li{
  list-style-type: none;
  padding: 10px 20px;
}

header ul li img{
  width: 24px;
  margin: 5px;
}

header ul li a{
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
}

header ul li a:hover{
  color: orange;
}

.search-bar{
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.search-input{
  width: 50%;
}
.search-bar .search-input input{
  width:50%;
  font-size: 1rem;
  padding: 4px;
}
.search-bar .search-input .search{
  background-color: lightgray;
}

.search-bar .search-input .search:hover{
  background-color: black;
  color: lightgray;
}

.btn{
  padding: 4px 14px;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
}

.search-bar .login-signup .signup{
  background-color: orange;
}

.search-bar .login-signup .signup:hover{
  background-color: lightgray;
  color: black;
}

.search-bar .login-signup .login{
  background-color: black;
  color: lightgray;
}

.search-bar .login-signup .login:hover {
  background-color: lightgray;
  color: black;
}